@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    line-height: initial;
}

:root {
    --font-primary: 'Nanum Gothic', sans-serif;
    --font-secondary: 'Do Hyeon', sans-serif;
}

.ff-ng{
    font-family: var(--font-primary);
}
.ff-dh{
    font-family: var(--font-secondary);
    line-height: 1;
}