@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    line-height: initial;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-primary: 'Nanum Gothic', sans-serif;
    --font-secondary: 'Do Hyeon', sans-serif;
    --font-suit: 'SUIT-Regular', sans-serif;

    --grid-color: #ffffff33;
}


body {
    font-family: 'Sandoll Nemony2 Basic LT', 'Nanum Gothic', sans-serif;
}

.ff-ng {
    font-family: var(--font-primary);
}

.ff-dh {
    font-family: var(--font-secondary);
    line-height: 1;
}

.ff-sdn {
    font-family: var(--font-suit);
    line-height: 1;
}

/* custom-toast-container 클래스 */
.custom-toast-container * {
    font-family: var(--font-secondary);
}


.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.custom-checkbox input:checked ~ .checkmark {
    border-color: green;
}

.custom-checkbox .checkmark i {
    color: green;
    font-size: 14px;
}

.swiper-pagination-bullet{
    width:18px!important;
    height:18px!important;
    border:white 2px solid;
}
